body{
	background-color: #fff;
	font-size: 16px;
	font-family: "Comic Sans MS", Comic Sans, cursive ;
}

/*** HEADER ***/
#brand-name{
	font-size: 2em;
	margin: 15px 0 15px 0;
	font-weight: bold;
}

.navbar-header a, .navbar-header a:hover{
	text-decoration: none;
	color: #000;
}

.navbar-header{
	background-color: transparent;
	border: 0;
}

.container .navbar-header{
	margin-left: 30px;
}

#header-nav{
	background-color: lightgrey;
	border-radius: 0;
	border: 2px solid #000;
}

#header-nav .container{
	padding: 0;
	margin: 0;
}

.navbar-default button.navbar-toggle{
	position: absolute;
	top: 0;
	right: 0;
	border: 1px solid black;
}

.navbar-default .navbar-toggle .icon-bar {
	background-color: black;
}

.navbar-default .navbar-toggle:focus .icon-bar {
	background-color:  white;
}

.navbar-default .navbar-toggle:focus{
	border-color: #fff;
}

#menu-list li{
	text-align: center;
	padding: 5px;
}

#menu-list a{
	color: black;
}

#title{
	margin-bottom: 30px;
	font-weight: bold;
}

#menu-item-title{
	text-align: center;
	font-size: 1.2em;
	font-weight: bold;
}

#menu-section{
	background-color: lightgrey;
}

#menu-section p{
	text-align: center;
	margin: 10px;
}

.nav hr{
	border: 1px solid black;
	margin: 0;
	width: 100%;
}

#collapsable-nav{
	padding: 0;
}

#menu-list{
	border-top: 2px solid black;
	padding: 0;
	background-color: lightgrey;
	width: 100%;
}

.navbar-nav {
	margin: 0;
}

.container{
	width: 100%;
}


@media (max-width: 767px){
	.container .navbar-header{
		margin-left: 45px;
	}

	#main{
		padding-left: 70px;
		padding-right: 70px;
		float: left;
	}
}

@media (min-width: 768px){
	
}